/* Violet: hsl(257, 40%, 49%) */
/* font-family: 'Open Sans', sans-serif; */
/*     font-family: 'Poppins', sans-serif; */

*{
    box-sizing: border-box;
}

body {
    background-image: url("/images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-header {
    width: 100%;
    margin-top: 10vh;
    margin-left: 10vh;
}

.content-header img {
    width: 150px;
    height: 50px;
}

.content-left{
    width: 40%;
    margin: 10vh 10vh 0 10vh;
}

.content-left img{
    width: 80vh;
}

.content-right{
    width: 40%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1{
    width: 100%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.content-right p{
    width: 100%;
    line-height: 1.5;
    font-size: 15px;
}

.content-right a{
    margin-top: 20px;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 2.5;
    border-radius: 40px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.content-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 23vh;
}

.content-footer i{
    margin: 10px;
    font-size: 40px;
}


@media screen and (max-width:1324px){

    .content-header{
        margin-top: 4vh;
        margin-left: 4vh;
    }

    .content-left {
        width: 100%;
        margin: 4vh 4vh 0 4vh;
    }

    .content-left img{
        width: 100%;
    }

    .content-right{
        margin-top: 0;
        width: 100%;
        padding: 4vh;
        font-size: 10px;
        flex-direction: row;
        justify-content: center;
    }

    .content-right p{
        text-align: center;
    }

    h1{
        font-size: 20px;
        text-align: center;
    }
    .content-footer{
        justify-content: center;
        padding-right: 0;
        margin-bottom: 20px;
    }
}


@media screen and (max-width:375px){
    body{
        background-image: url("/images/bg-mobile.svg");
        background-repeat: no-repeat;
    }
}